/*------------------------------||[ CSS - index.html ]||---------------------------------*/

/* - [ MOBILE FIRST ] - */

/*| ---------|- Variables CSS -|-------- |*/


:root{
--backgroundArticle:rgba(13,46,66,.5);
--backgroundInput: linear-gradient(180deg, rgba(0,47,72,0.5) 11%, rgba(0,47,72,0.15868354177608546) 49%, rgba(0,47,72,0.5) 86%);

--blueBorder:1px solid #0a2839;
--lightBlueBorder:1px solid #00d2ff;
--boldBlueBorder:1px solid #0a2839;
--doubleLightBlueBorder:4px double #00d2ff;

--marginTopInputAndTextArea : 7px;
--paddingInputAndTextArea : 5px 0 0 5px;

--fontFamilyMainTitles:Orbitron;
--fontFamilyTitles : Electrolize;
--fontFamilyTexts : calibri;
--textColor :#eff0eb;
--textInputColor:#00d2ff;
--h1Color:#c2c5b7  ;
--h2Color:#00d2ff;
--fontSizeH1:1.5rem;
--fontSizeH2:100%;

--paddingTopMainTitles:0.5em;
--paddingMainBlocks:0 3% 0 3%;
}


/*| ------|- Corps du document -|------- |*/

html{ background: no-repeat url("./pictures/starsbackground.jpg");
  background-size: cover;}

body {
  width:100%;
  min-height: 100dvh;
  margin: 2vh 0 2vh 0;
  display: flex;
  flex-direction:column;
  background: no-repeat url("./pictures/starsbackground.jpg");
  background-size: cover;
}


/*| -------|- Eléments globaux -|------- |*/

h1{
 text-transform: uppercase;
 font-size:var(--fontSizeH1);
 font-family:var(--fontFamilyMainTitles);
 color:var(--h1Color);
 text-decoration:underline;
}

h2 {
  text-transform: uppercase;
  font-size:var(--fontSizeH2);
  font-family:var(--fontFamilyTitles);
  color: var(--h2Color);
}

p,a{
  text-decoration:none;
  color: var(--textColor);
  font-family:var(--fontFamilyTexts);
  font-size:0.8em;
}

.SeparationLine{
  display:none;
}

/*| ------|- Barre de navigation -|----- |*/

nav {
 display:flex;
 justify-content:space-between;
 align-items:center;
 min-height: 10dvh;
 padding:10px;
 border:var(--blueBorder);
 border-top:var(--lightBlueBorder);
 border-bottom:var(--doubleLightBlueBorder);
}

.logo{
  width:50%;
  max-width:200px;
}

.mainTitleH1Nav{
  width:100%;
  text-align:center;
  font-size:35PX;
  padding-right:25px;
  text-decoration:none;
  transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg);
 }

.rsiImg,.line  {
  display:none;
 }

/*| ------|- Section principale -|------ |*/

.mainSection {
  margin:4.5vh;
  display: flex;
  flex-direction:column;
  height:100%;
  gap:1vh;
}

.mainTitles{
  text-align:center;
}

.mainText{
  text-align:justify;
  letter-spacing:1px;;
}

/* -- Sous-section contact et utilitaires -- */

.contactAndUtilitiesSection{
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
  gap:1vh;
}

/* -- Bloc contact et tutoriels -- */

.contactAndTutorialsBlock{
  display:flex;
  flex-direction:column;
  gap:0.5vw;
}

/* ----- Partie contact ----- */

.contactBlock{
  display:flex;
  align-items:center;
  flex-direction:column;
  width:100%;
  border-radius:6px;
  padding:var(--paddingMainBlocks);
  border:var(--blueBorder);
}

.contactArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  align-items: center;
  width: 100%;
  min-height:500px;
  padding:20px 0 50px 0;
}

/* - Formulaire - */

.formAside{
  border-radius:6px;
  width:80dvw;
  max-width:350px;
  background:var(--backgroundArticle);
  border-bottom:var(--lightBlueBorder);
  border-top:var(--lightBlueBorder);
}

.titlesH2Contact {
  margin-top:3dvh;
  text-align:center;
  }

.contactForm{
  padding:8%;
}

label{
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family:var(--fontFamilyTitles);
  }

#to {
  width: 45%;
  min-height: 25px;
  border: none;
  border-radius:6px;
  background:var(--backgroundInput);
  color: var(--textInputColor);
  margin-top:var(--marginTopInputAndTextArea);
  padding:var(--paddingInputAndTextArea);
}

.subjectInput {
  width: 100%;
  min-height: 25px;
  border: none;
  border-radius:6px;
  background:var(--backgroundInput);
  color: var(--textInputColor);
  margin-top:var(--marginTopInputAndTextArea);
  padding:var(--paddingInputAndTextArea);
}

#bodyMessage {
  width: 100%;
  border: none;
  border-radius:6px;
  background:var(--backgroundInput);
  color: var(--textInputColor);
  margin-top:var(--marginTopInputAndTextArea);
  padding:var(--paddingInputAndTextArea);
}

#file{
 min-height: 25px;
 border: none;
 border-radius:6px;
 background:var(--backgroundInput);
 color: var(--textInputColor);
 margin-top:var(--marginTopInputAndTextArea);
}

.divSubmitButtons {
  display: flex;
  gap:1.5vh;
  margin-top : 20px;
  margin-right:30px;
  justify-content:space-between;
}

input[type="submit"] {
 padding :5%;
 max-width:80%;
 border: none;
 border-radius:6px;
 background:var(--backgroundInput);
 color: var(--textInputColor);
}

/* - Plateformes de communication - */

.comPlatformAside{
  display :flex;
  flex-wrap:wrap;
  width:75dvw;
  max-width:330px;
  height:auto;
  justify-content:center;
  align-items:center;
  padding: 10px;
  gap : 20px;
  border-radius:6px;
  background:var(--backgroundArticle);
  border-bottom:var(--lightBlueBorder);
  border-top:var(--lightBlueBorder);
 }

.comPlatformAside h2{
  margin:0;
}

.platformLinks{
  display:flex;
  gap : 15px;
  justify-content:space-between;
  align-items:center;
}

#mailText{
  display:none;
}

.platformImg{
  width:40px;
}

/* ----- Partie Tutos ----- */

.tutorialsArticle{
  display: none;
}


/* ----- Partie Plugins ----- */

.pluginsArticle {
  display: flex;
  height:100%;
  border-radius:6px;
  padding:var(--paddingMainBlocks);
  border:var(--blueBorder);
}

/*| ------|- Sous section News -|------ |*/

.newsSection {
  display: none;
}


/* - [ DESKTOP ] - */

@media screen and (min-width: 1100px){

/*| ------|- Corps du document -|------- |*/
/* Style non modifié */

/*| -------|- Eléments globaux -|------- |*/
/* Style non modifié */

/*| ------|- Barre de navigation -|----- |*/

.mainTitleH1Nav{
  font-size:45px;
  text-align :center;
  max-width:600px;
  padding-right :5px;
 }

.line{
 display:block;
 width:100%;
 height:2px;
 background-color:#0a2839;
}

.rsiImg{
  display:block;
  margin-right:25px;
  width:70px;
  padding-left:35px;
 }

/*| ------|- Section principale -|------ |*/

.mainSection {
  flex-direction :row;
}

/* -- Sous-section contact et plugins -- */

.contactAndUtilitiesSection{
  display:flex;
  flex-direction:column;
  width:100%;
  gap:1vh;
}

/* -- Bloc contact et tutoriels -- */

.contactAndTutorialsBlock{
flex-direction:row;
}

/* ----- Partie contact ----- */

.contactBlock{
  width:30%;
}

.contactArticle{
  width:100%;
}

/* - Formulaire - */

.formAside{
  min-width:350px;
}

.divSubmitButtons {
  justify-content : space-around;
  margin-right:0;
}

/* - Plateformes de communication - */
/* Style non modifié */

/* ----- Partie Tutos ----- */

.tutorialsBlock{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.tutorialsArticle{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  width: 70%;
  padding:5%;
  min-height:500px;
  border-radius:6px;
  padding:var(--paddingMainBlocks);
  border:var(--blueBorder);
}

.mainTutorialsList{
  padding:0;
  margin-top:3em;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  list-style : none;
  width:80%;
  height:80%;
  gap:5%;
   }

.mainTutorialsList li{
  width:6em;
  height:10em;
  padding:10px;
  border-radius:6px;
  background:var(--backgroundArticle);
  border:var(--blueBorder);
}

.mainTutorialsList li:hover{
  border:var(--lightBlueBorder);
}

.tutorialTitleSpan{
  text-transform: uppercase;
  font-size:var(--fontSizeH2);
  color: var(--h2Color);
  font-family:var(--fontFamilyTitles);
}

/* ----- Partie Plugins ----- */
/* Style non modifié */

/*| ------|- Sous section News -|------ |*/
/* Style non modifié */

}

/* - [ INTERMEDIAIRE ] - */

@media screen and (min-width: 1400px){

/*| -------|- Eléments globaux -|------- |*/

.SeparationLine{
 display:block;
 margin-top:10px;
 width:60%;
 height:2px;
 background-color:#0a2839;
}

/*| ------|- Section principale -|------ |*/

.mainTitles{
  padding-top:var(--paddingTopMainTitles);
}

/* -- Sous-section contact et plugins -- */

.contactAndUtilitiesSection{
  width:90%;
}

/* ----- Partie contact ----- */

.formAside{
  max-width:380px;
  height:100%;
}

.contactBlock{
  width:45%;
}

.contactArticle{
  flex-direction:row;
}

/* - Plateformes de communication - */

.comPlatformAside{
  flex-direction : column;
  justify-content:flex-start;
  padding:0;
  max-width:135px;
  height:100%;
  }

.comPlatformAside h2{
  margin-top:3dvh;
}

.platformLinks{
  flex-direction:column;
  justify-content:space-between;
  min-width:100%;
  height:70%;
}

.mailsPlatefBlock{
 display:flex;
 flex-direction:column;
 align-items:center;
 gap:20px;
 width:100%;
 height:100%;
}

#mailText{
  margin: 10px 0 0 0;
  display:block;
}

.platformImg{
  width:50px;
}
/* ----- Partie Tutos ----- */

.tutorialsArticle{
 width:50%;
}

.mainTutorialsList{
  width:100%;
   }

/* ----- Partie Plugins ----- */


/*| ------|- Sous section News -|------ |*/

.newsSection {
  display: flex;
  flex-direction:column;
  width:10%;
  height:100%;
  border-radius:6px;
  padding: 0 2% 2% 2%;
  border:var(--blueBorder);
}

.newsAside{
margin-top:10dh;
}

#emails-titles{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  gap : 30px;
  min-height:400px;
  border-radius:6px;
  margin-bottom :3em;
  padding:15% 10% 15% 10%;
  list-style : none;
  background:var(--backgroundArticle);
  border-bottom:var(--lightBlueBorder);
  border-top:var(--lightBlueBorder);
}

.newslettersTitle{
  margin-top:0;
}

.liEmailTitle{
  display:flex;
  align-items:center;
  gap:5px;
  flex-direction:column;
}

.emailTitle{
  font-size: 11px;
  text-transform: uppercase;
  text-decoration:none;
  color: #fff;
  font-weight: 700;
  font-family:var(--fontFamilyTitles);
}

.blockChanel{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.blockChanel a{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  padding:10px 0 10px 0;
  border-radius:6px;
  border:var(--blueBorder);
}

.starCitChanSpan{
  text-align:center;
  text-transform: uppercase;
  font-size:1em;
  font-weight:bold;
  color: var(--h2Color);
  font-family:var(--fontFamilyTitles);
}

.starCitChanImg{
  padding-top:5px;
  border-radius:10px;
  width:50%;
}

}

@media screen and (min-width: 1600px){

/* ----- Partie contact ----- */

.contactBlock{
  width:40%;
}

/*| ------|- Sous section News -|------ |*/

#emails-titles{
  margin-bottom :4em;
}

.mainTutorialsList{
  width:100%;
   }

}