/*------------------------------||[ CSS - index.html ]||---------------------------------*/

/* - [ MOBILE FIRST ] - */

/*| ---------|- Variables CSS -|-------- |*/

:root{
--backgroundArticle:rgba(13,46,66,.5);
--backgroundInput: linear-gradient(180deg, rgba(0,47,72,0.5) 11%, rgba(0,47,72,0.15868354177608546) 49%, rgba(0,47,72,0.5) 86%);

--blueBorder:1px solid #0a2839;
--lightBlueBorder:1px solid #00d2ff;
--boldBlueBorder:1px solid #0a2839;
--doubleLightBlueBorder:4px double #00d2ff;

--marginTopInputAndTextArea : 7px;
--paddingInputAndTextArea : 5px 0 0 5px;

--fontFamilyMainTitles:Orbitron;
--fontFamilyTextAndTitles : Electrolize;
--textColor :#eff0eb;
--textInputColor:#00d2ff;
--h1Color:#c2c5b7  ;
--h2Color:#00d2ff;
--fontSizeH1:1.5rem;
--fontSizeH2:100%;

--paddingTopMainTitles:0.5em;
--paddingMainBlocks:0 5% 0 5%;
}


/*| ------|- Corps du document -|------- |*/

body {
  min-height: 100vh;
  margin: 2vh 0 2vh 0;
  background: black;
  display: flex;
  flex-direction:column;
  background: no-repeat url("./pictures/starsbackground.jpg");
  background-size: cover;
}


/*| -------|- Eléments globaux -|------- |*/

h1{
 text-transform: uppercase;
 font-size:var(--fontSizeH1);
 font-family:var(--fontFamilyMainTitles);
 color:var(--h1Color);
 text-decoration:underline;
}

h2 {
  text-transform: uppercase;
  font-size:var(--fontSizeH2);
  font-family:var(--fontFamilyTextAndTitles);
  color: var(--h2Color);
}

p {
  color: var(--textColor);
  font-family:var(--fontFamilyTextAndTitles);
  font-size:0.8em;
}


/*| ------|- Barre de navigation -|----- |*/

nav {
 display:flex;
 justify-content:space-between;
 align-items:center;
 min-height: 10dvh;
 border:var(--blueBorder);
 border-top:var(--lightBlueBorder);
 border-bottom:var(--doubleLightBlueBorder);
 padding:10px;
}

.logo{
  width:50%;
  max-width:200px;
}

.mainTitleH1Nav{
 width:100%;
 text-align:center;
 font-size:35PX;
 padding-right:25px;
 text-decoration:none;
 transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg);
 }

.rsiImg,.line  {
  display:none;
 }

/*| ------|- Section principale -|------ |*/

.mainSection {
  margin:4.5vh;
  display: flex;
  flex-direction:column;
  height:100dvh;
  gap:1vh;
}

.mainTitles{
  text-align:center;
}

.mainText{
text-align:justify;
letter-spacing:1px;;
}

/* -- Sous-section contact et utilitaires -- */

.contactAndUtilitiesSection{
  display:flex;
  flex-direction:column;
  width:100%;
  gap:1vh;
}

/* -- Bloc contact et tutoriels -- */

.contactAndTutorialsBlock{
  display:flex;
  flex-direction:column;
  gap:0.5vw;
}

/* ----- Partie contact ----- */

.contactBlock{
  display:flex;
  align-items:center;
  flex-direction:column;
  width:100%;
  padding:var(--paddingMainBlocks);
  border-radius:6px;
  border:var(--blueBorder);
}

.contactArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  align-items: center;
  width: 100%;
  min-height:500px;
  padding:20px 0 50px 0;
}

/* - Formulaire - */

.formAside{
  border-radius:6px;
  min-width:350px;
  max-width:400px;
  background:var(--backgroundArticle);
  border-bottom:var(--lightBlueBorder);
  border-top:var(--lightBlueBorder);
}

.titleH2Form {
  margin-top:8%;
  text-align:center;
  }

.contactForm{
  padding:8%;
}

label{
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family:var(--fontFamilyTextAndTitles);
  }

#to {
  width: 45%;
  min-height: 25px;
  border: none;
  border-radius:6px;
  background:var(--backgroundInput);
  color: var(--textInputColor);
  margin-top:var(--marginTopInputAndTextArea);
  padding:var(--paddingInputAndTextArea);
}

.subjectInput {
  width: 100%;
  min-height: 25px;
  border: none;
  border-radius:6px;
  background:var(--backgroundInput);
  color: var(--textInputColor);
  margin-top:var(--marginTopInputAndTextArea);
  padding:var(--paddingInputAndTextArea);
}

#bodyMessage {
  width: 100%;
  border: none;
  border-radius:6px;
  background:var(--backgroundInput);
  color: var(--textInputColor);
  margin-top:var(--marginTopInputAndTextArea);
  padding:var(--paddingInputAndTextArea);
}

#file{
 min-height: 25px;
 border: none;
 border-radius:6px;
 background:var(--backgroundInput);
 color: var(--textInputColor);
 margin-top:var(--marginTopInputAndTextArea);
}

.divSubmitButtons {
  display: flex;
  gap:1.5vh;
  margin-top : 20px;
  margin-right:30px;
  justify-content:space-between;
}

input[type="submit"] {
 padding :5%;
 max-width:80%;
 border: none;
 border-radius:6px;
 background:var(--backgroundInput);
 color: var(--textInputColor);
}

/* - Plateformes de communication - */

.comPlatformAside{
  display :flex;
  min-width:300px;
  max-width:330px;
  justify-content:space-around;
  align-items:center;
  padding: 10px;
  gap : 20px;
  border-radius:6px;
  background:var(--backgroundArticle);
  border-bottom:var(--lightBlueBorder);
  border-top:var(--lightBlueBorder);
 }

.titlePlatformAside{
 font-size:0.74rem;
}

#mailText{
  display:none;
}

.linePlatformAside{
display:none;
}

.platformImg{
  width:40px;
}

/* ----- Partie Tutos ----- */

.tutorialsArticle{
  display: none;
}


/* ----- Partie Plugins ----- */

.pluginsAside {
  display: flex;
  min-height:100px;
  border-radius:6px;
  border:var(--blueBorder);
}

/*| ------|- Sous section News -|------ |*/

.newsSection {
  display: none;
}


/* - [ DESKTOP ] - */

@media screen and (min-width: 768px){

/*| ------|- Corps du document -|------- |*/
/* Style non modifié */

/*| -------|- Eléments globaux -|------- |*/
/* Style non modifié */

/*| ------|- Barre de navigation -|----- |*/

.mainTitleH1Nav{
  font-size:45px;
  text-align :center;
  max-width:600px;
  padding-right :5px;
 }

.line{
 display:block;
 width:100%;
 height:2px;
 background-color:#0a2839;
}

.rsiImg{
  display:block;
  margin-right:25px;
  width:70px;
  padding-left:35px;
 }

/*| ------|- Section principale -|------ |*/

.mainSection {
  flex-direction :row;
}

/* -- Sous-section contact et plugins -- */

.contactAndUtilitiesSection{
  display:flex;
  flex-direction:column;
  width:100%;
  gap:1vh;
}

/* -- Bloc contact et tutoriels -- */

.contactAndTutorialsBlock{
flex-direction:row;
}

/* ----- Partie contact ----- */

.contactBlock{
  width:30%;
}

.contactArticle{
  width:100%;
}

/* - Formulaire - */

.divSubmitButtons {
  justify-content : space-around;
  margin-right:0;
}

/* - Plateformes de communication - */
/* Style non modifié */

/* ----- Partie Tutos ----- */

.tutorialsArticle{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  width: 70%;
  padding:5%;
  min-height:500px;
  border-radius:6px;
  padding:var(--paddingMainBlocks);
  border:var(--blueBorder);
}

/* ----- Partie Plugins ----- */
/* Style non modifié */

/*| ------|- Sous section News -|------ |*/
/* Style non modifié */

}

/* - [ INTERMEDIAIRE ] - */

@media screen and (min-width: 1400px){

/*| ------|- Section principale -|------ |*/

.mainTitles{
  padding-top:var(--paddingTopMainTitles);
}

/* -- Sous-section contact et plugins -- */

.contactAndUtilitiesSection{
  width:90%;
}

/* ----- Partie contact ----- */

.contactBlock{
  width:45%;
}

.contactArticle{
  flex-direction:row;
}

/* - Plateformes de communication - */

.comPlatformAside{
  flex-direction : column;
  justify-content:flex-start;
  padding-top:14px;
  min-width:130px;
  max-width:150px;
  height:476px;
  }

.titlePlatformAside{
  font-size:var(--fontSizeH2);
}

#mailText{
  margin: 10px 0 0 0;
  display:block;
}
.linePlatformAside{
 display:block;
 margin-top:10px;
 width:60%;
 height:2px;
 background-color:#0a2839;
}

.platformImg{
  width:50px;
}
/* ----- Partie Tutos ----- */

.tutorialsArticle{
 width:50%;
}

/*| ------|- Sous section News -|------ |*/

.newsSection {
  display: flex;
  width:10%;
  border-radius:6px;
  border:var(--blueBorder);
  padding:var(--paddingMainBlocks);
}
}

@media screen and (min-width: 1600px){

/* ----- Partie contact ----- */

.contactBlock{
  width:40%;
}

/*| ------|- Sous section News -|------ |*/


}