<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="static/style.css" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Holtwood+One+SC&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
     <title>Récupération des mail GMX</title>
 </head>
 <body>
    <section>
      <h1>Tous les emails</h1>
     <div id="emails-content">
        {% for email_content in emails_content %}
            <div>{{ email_content | safe }}</div>
        {% endfor %}
    </div>
 </section>
  <script src="static/javascript/recoveryHTML.js"></script>
</body>
</html>

