<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="static/style.css" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Holtwood+One+SC&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
     <title>Envoyer un message</title>
 </head>
 <body>
   <nav>
     <img class="logo" alt="Logo" src="static/pictures/StarCitizenEmblem.png">
     <h1 class="mainTitleH1Nav">Tableau de bord</h1>
     <div class="line"></div>
     <img class="rsiImg" alt="Logo" src="static/pictures/rsi.png">
   </nav>
   <section class="mainSection">
     <section class="contactAndUtilitiesSection">
         <div class="contactAndTutorialsBlock">
             <div class="contactBlock">
             <h1 class="mainTitles">- CONTACT -</h1>
                 <p class="mainText">Cette plateforme révolutionnaire repousse les limites de la communication pour vous offrir une expérience inégalée. Elle vous offrira une convergence sans précédent des moyens de communication traditionnels et modernes, vous permettant d'envoyer des messages instantanés ou même de passer des appels vidéo, le tout depuis un seul et même endroit. </p>
           <article class="contactArticle">
             <aside class="formAside">
               <h2 class="titleH2Form">Contacter un autre joueur</h2>
               <form class="contactForm" method="post" enctype="multipart/form-data">
                 <label for="to">Destinataire :</label><br>
                    <select id="to" name="to" required>
                    {% for name, _ in recipients.items() %}
                      <option value="{{ name }}">{{ name }}</option>
                     {% endfor %}
                    </select><br><br>
                 <label for="subject">Sujet :</label><br>
                   <input class="subjectInput" type="text" id="subject" name="subject" required><br><br>
                 <label for="bodyMessage">Message :</label><br>
                   <textarea id="bodyMessage" name="body" rows="4" required></textarea><br><br>
                 <label for="file">Pièce jointe :</label><br>
                   <input type="file" id="file" name="file"><br><br>
                 <div class="divSubmitButtons">
                   <input type="submit" name="send_email" value="Envoyer par e-mail">
                   <input type="submit" name="send_sms" value="Envoyer par SMS">
                 </div>
               </form>
             </aside>
             <aside class="comPlatformAside">
               <h2 class="titlePlatformAside">Plateformes</h2>
               <a href="#" onclick="launchDiscord(); return false;"><img class="platformImg" alt="Discord" src="static/pictures/discord.png"></a>
               <a href="#" onclick="launchWhatsapp(); return false;"><img class="platformImg" alt="WhatsApp" src="static/pictures/whatsapp.png"></a>
               <a href="#" onclick="launchSkype(); return false;"><img class="platformImg" alt="Skype" src="static/pictures/skype.png"></a>
                  <div class="SeparationLine"></div>
                 <h2 class="titlePlatformAside" id="mailText" >Mails</h2>
                 <a href="https://www.gmx.fr/" target="_blank"><img class="platformImg" alt="GMX" src="static/pictures/gmx.png"></a>
             </aside>
           </article>
                 </div>
             <article class="tutorialsArticle">
                 <div class="tutorialsBlock">
                     <h1 class="mainTitles">- TUTORIELS -</h1>
                     <p class="mainText">Que vous soyez un explorateur solitaire, un marchand prospère, ou un mercenaire intrépide, nos tutoriels vous fournissent les outils et les connaissances nécessaires pour prospérer dans l'univers dynamique et en constante évolution de Star Citizen. Préparez-vous à embarquer pour des aventures inoubliables et à découvrir tout ce que cet univers épique a à offrir.</p>
                 </div>
             </article>
        </div>
           <article class="pluginsAside" ></article>
     </section>
     <section class="newsSection">
                              <h1 class="mainTitles">- INFOS -</h1>
                     <p class="mainText">Ici, vous trouverez les dernières informations et les nouveautés du jeu.</p>
                 <aside class="newsAside">
                    <ul id="emails-titles">
                           <h2 class="newslettersTitle">NEWSLETTERS</h2>
                      {% for email_title in emails_titles %}
                        <li class="liEmailTitle"><a class="emailTitle" href="/emails/{{ loop.index0 }}">{{ email_title | safe }}</a>
                            <div class="SeparationLine"></div>
                        </li>
                      {% endfor %}
                    </ul>
                 </aside>
             </section>
 </section>
 <script src="static/javascript/programsLaunchers.js"></script>
 <script src="static/javascript/recoveryHTML.js"></script>
</body>
</html>
